body {
  margin: 0;
  background: black;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

#startButton, #gpxUpload {
  margin: 20px;
  padding: 15px;
  font-size: 18px;
}

#arrow {
  font-size: 120px;
  margin-top: 50px;
  transition: transform 0.1s linear;
}

#distance {
  margin-top: 20px;
  font-size: 24px;
}
